@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

:root {
  --primary-color: #6a1b9a; /* Deep Purple */
  --secondary-color: #fce4ec; /* Light Pink */
  --accent-color: #ffeb3b; /* Bright Yellow */
  --text-color: #333;
  --bg-color: #f3e5f5; /* Light Lavender */
  --white: #fff;
  --correct-green: #4CAF50;
  --incorrect-red: #F44336;
}

body {
  margin: 0;
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-color);
  color: var(--text-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} 